/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: url("./sources/background.jpg");
}

a:hover{
    text-decoration:none;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    margin-top: 20px;
    padding-top: 20px;
    background-color: #FFFFFF;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"]
{
    max-width: 280px;
}

.front-product {
    width: 95%;
    display: inline-block;
}


.rooms-list {
    width: 95%;
    display: inline-block;
    margin-top: 35px;
}

.center-form {
    width: 700px;
    margin-right: auto;
    margin-left: auto;
}

.center-form .form-group {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}


.center-image{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}


.center-form h2, h3{
    text-align: center;
    margin: 30px 0px;
}

.center-form submit-button{
    text-align: center;
}

.center-form .as-new{
    text-align: center;
}

.product-wrapper{
    margin: auto 1.5em;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border: 1px solid #e8e8e8;
}

.fl .product-wrapper{
    margin-bottom: 25px;
    margin-top: 10px;
}

.product-wrapper h3{
    margin-bottom: 0px;
}

.product-wrapper h4{
    margin: 0px;
}

.product-wrapper h5{
    margin: 0px;
}
input[type="file"]
{
    display: none;
}
.contact{
    display: inline-block;
    width: 100%;
}

.contact h4{
    margin-top: 5px;
}

textarea {
    resize: none;
    max-width: 280px;
}

.image-wrapper {
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
    position: relative;
    background-color: #F5F5F5;
    display: inline-block;
}

.image-wrapper img {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    max-height: 100%;
}

.search-form {
    margin: 30px 10px;
}

.view-more-link {
    text-align: right;
}

.vertical-align-label {
    text-align: right;
    vertical-align: middle;
    padding: 10px 0px;
}

.order-detailed {
    padding-bottom: 40px;
}

footer {
    position:fixed;
    bottom: 10px;
    left: 36%;
    text-align: center;
}

.cart {
    padding-bottom: 5px !important;
    padding-top: 5px !important;
}

.centered {
    text-align: center;
}

.centered h2{
    margin-top: 50px;
    margin-bottom: 50px;
}

.centered a {
    margin-bottom:50px;
}

.room-wrapper {
    background-color: red;
}

.list {
    margin: 40px;
    padding-top: 60px;
}

table, tr, td, th {
    border: 0px !important;
}

.indented {
    padding-left: 30px;
}

.total h3{
    margin: 3px 0px 0px 40px;
}

.pagination-ys {
    /*display: inline-block;*/
    padding-left: 0;
    margin: 20px 0;
}

.pagination-ys table > tbody > tr > td {
    display: inline;
}

.pagination-ys table > tbody > tr > td > a,
.pagination-ys table > tbody > tr > td > span {
    position: relative;
    float: left;
    padding: 8px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #52658f;
    background-color: #ffffff;
    margin-left: -1px;
}

.pagination-ys table > tbody > tr > td > span {
    position: relative;
    float: left;
    padding: 8px 12px;
    line-height: 1.42857143;
    text-decoration: none;    
    margin-left: -1px;
    z-index: 2;
    color: #333a56;
    background-color: #f8f8f8;
    cursor: default;
}

.pagination-ys table > tbody > tr > td:first-child > a,
.pagination-ys table > tbody > tr > td:first-child > span {
    margin-left: 0;
}

.pagination-ys table > tbody > tr > td:last-child > a,
.pagination-ys table > tbody > tr > td:last-child > span {
}

.pagination-ys table > tbody > tr > td > a:hover,
.pagination-ys table > tbody > tr > td > span:hover,
.pagination-ys table > tbody > tr > td > a:focus,
.pagination-ys table > tbody > tr > td > span:focus {
    color: #dddddd;
    background-color: #52658f;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}

@media (max-width: 767px) {
    .register {
        margin: 0% 5%;
    }
    .view-more-link {
        text-align: center;
    }
}
