<?xml version="1.0"?>
<configuration>
  
  <location path="ProductManagement">
    <system.web>
      <authorization>
        <allow roles="Administrator, Moderator"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ContactManagement">
    <system.web>
      <authorization>
        <allow roles="Administrator, Moderator"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="OrderManagement/Default">
    <system.web>
      <authorization>
        <allow roles="Administrator, Moderator"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="UserManagement">
    <system.web>
      <authorization>
        <allow roles="Administrator"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>
